body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#Container{
	width:99%;
	height: 99%;
	margin-left: auto;
	margin-right: auto;
	margin-top:11px;
}

#Banner{
	background-image: url(img/official.png);
	height: 250px;
	margin-bottom:5px;
}

#Menu{
	height:40px;
	background-color: maroon;
	margin-bottom: 5px;
	width:100%;
	position: -webkit-sticky;
	position: sticky;
	top:0;
}

#MainBody{
	width:79%;
	height:700px;
	margin-bottom: 5px;
}

#Footer{
	margin-bottom: 5px;
	width: 100%;
	height: 200px;
	background-color: maroon;
	clear:both;
}

#_menu{
	list-style-type:none;
}

#_menulist{
	display: inline;
	font-size:30px;
	font-family:Cooper Black;
	margin-left:130px;
	margin-right:40px;
	color: white;
}

#_menulink{
	text-decoration:none;
	color:white;
}
#_menulink:hover{
	color:#ff3333;
}

#_footerheader{
	color:white;
	text-align:center;
	font-family: Cooper Black;
	padding-top:15px;
}

#_footersubmit{
	list-style-type: none;
}

#_footersubmitlist1{
	display:inline;
	margin-left: 510px;
}

#_footersubmitlist{
	display:inline;
}

#_footercopyright{
	color:white;
	font-family: Arial;
	text-align:center;
	font-style: Italic;
}

#_aboutheader{
	margin-left:350px;
	font-family: Elephant;
	text-align:center;
}

#_aboutdetails{
	margin-left:330px;
	text-align:center;	
	font-family: Rockwell;
	font-size: 25px;	
}

#_iconlinks{
	text-decoration:none;
}